src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/wsd31284assignment/History.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.oms.wsd.uts/" xmlns:ns1="http://uts/wsd/oms" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.oms.wsd.uts/">

<xs:import namespace="http://uts/wsd/oms" schemaLocation="http://localhost:8080/wsd31284assignment/History?xsd=1"/>

<xs:element name="ViewAllOrders" type="tns:ViewAllOrders"/>

<xs:element name="ViewAllOrdersResponse" type="tns:ViewAllOrdersResponse"/>

<xs:complexType name="ViewAllOrders">
<xs:sequence>
<xs:element name="orderID" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ViewAllOrdersResponse">
<xs:sequence>
<xs:element name="return" type="ns1:history" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>