web/WEB-INF/movies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://uts/wsd/oms"
           xmlns="http://uts/wsd/oms"
           xmlns:common="http://uts/wsd/oms/common">
    
    <xs:import namespace="http://uts/wsd/oms/common" 
               schemaLocation="commonTypes.xsd"/>
    
    <xs:element name="movies" type="moviesType"/>
    
    <xs:complexType name="moviesType">
        <xs:sequence>
            <xs:element type="commont:movieType" name="movie"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>