src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.oms.wsd.uts/" xmlns:ns1="http://uts/wsd/oms" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.oms.wsd.uts/">

<xs:import namespace="http://uts/wsd/oms" schemaLocation="http://localhost:8080/Project/PlaceOrder?xsd=1"/>

<xs:element name="AddOrder" type="tns:AddOrder"/>

<xs:element name="AddOrderResponse" type="tns:AddOrderResponse"/>

<xs:complexType name="AddOrder">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="movies" type="ns1:movies" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddOrderResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>