web/movies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movies" type="moviesType"/>
  <xs:complexType name="movieType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="Genre"/>
      <xs:element type="xs:short" name="releaseDate"/>
      <xs:element type="xs:string" name="price"/>
      <xs:element type="xs:byte" name="copies"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moviesType">
    <xs:sequence>
      <xs:element type="movieType" name="movie"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>